

body{
  /* background-color: #E1D4CD;
   user-select: none; */
   background: hsla(21, 25%, 84%, 1);

   background: linear-gradient(180deg, hsla(21, 25%, 84%, 1) 36%, hsla(196, 7%, 57%, 1) 100%);
   
   background: -moz-linear-gradient(180deg, hsla(21, 25%, 84%, 1) 36%, hsla(196, 7%, 57%, 1) 100%);
   
   background: -webkit-linear-gradient(180deg, hsla(21, 25%, 84%, 1) 36%, hsla(196, 7%, 57%, 1) 100%);
   
   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E1D4CD", endColorstr="#8B969A", GradientType=1 );
}

/* DELETE SOON */
.construction-png{
 margin: auto;
 width: 300px;
 text-align: center;
}

.name{
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 color: #593724;

 padding-top: 100px;
 padding-bottom: 20px;


 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
 animation-delay: 500ms;

}


#modal1-btn{
   -webkit-animation-name: fadeInUp;
   animation-name: fadeInUp;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}
#modal2-btn{
   -webkit-animation-name: fadeInUp;
   animation-name: fadeInUp;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   animation-delay: 100ms;
}

#modal3-btn{
   -webkit-animation-name: fadeInUp;
   animation-name: fadeInUp;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   animation-delay: 200ms;
}

#modal4-btn{
 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}
#modal5-btn{
 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
 animation-delay: 100ms;
}

#modal6-btn{
 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
 animation-delay: 200ms;
}

#modal7-btn{
 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}
#modal8-btn{
 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
 animation-delay: 100ms;
}

#modal9-btn{
 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
 animation-delay: 200ms;
}

.work-container{
   text-align: center;
   margin: auto;
}
 .modal-open{

     padding: 10 10 10 10;
     width:260px;
     height:260px;
     object-fit:cover;
 }

 @media screen and (max-width: 1200px){
   .modal-open{


     width:400px;
     height:400px;
     object-fit:cover;
 }
 }

 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   padding-top: 100; /* Location of the box */
   left: 0;
   top: 0;

   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }


 /* Modal Content */
 .modal-content {
   background-color: #f0e8dd;
   margin: auto;
   padding: 30 30 30 30;
   width: fit-content;
   height: auto;
   border-radius: 25px;

   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s;
   transition:0.5s;
 }

 @media screen and (max-width: 1200px){
   .modal-content {
       margin: auto;
       padding: 30 30 30 30;
       padding-bottom: 20;
       width: fit-content;
       height: auto;
       border-radius: 25px;
       transition:0.5s;
     } 
 }

 @media screen and (max-width: 1024px){
   .modal-content {
       margin: auto;
       padding: 30 30 30 30;
       padding-bottom: 30;
       width: fit-content;
       height: auto;
       border-radius: 25px;
       transition:0.5s;
     } 
 }

 @media screen and (max-width:767px){
   .modal-content {
       margin: auto;
       padding: 30 30 30 30;
       width: fit-content;
       height: auto;
       border-radius: 25px;
       transition:0.5s;
     } 
     .modal-content p{
       font-size: 13px;
     }
 }


.modal-img{
 width: 600px;
 height: auto;
}

@media screen and (max-width: 1024px){
 .modal-img{
   width: 500px;
   height: auto;
 }
}

@media screen and (max-width: 767px){
 .modal-img{
   width: 320px;
   height: auto;
 }
}


.button-fart{
 
 width: inherit;
 height: inherit;
 background-color: transparent;
 text-align: center;
 vertical-align: middle;
 line-height: 60px;
 border-radius: 40px;
 margin: auto;
 transition: 0.5s;


 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
 animation-delay: 450ms;
}

.button-fart:hover{
 background-color:#688190;
 transform: scale(1.1);
 -webkit-transform: scale(1.1);
 -ms-transform: scale(1.1);
}


.container-fart{
 padding-top: 100;
 text-align: center;
 width: 120px;
 height: 10px;
 margin: auto;
 transition:0.5s;
}

@media screen and (max-width: 1024px){
 .container-fart{

     text-align: center;
     width: 120px;
     height: 10px;
     padding: 10 10 10 10;
     margin: auto;
     transition:0.5s;
 }
}

@media screen and (max-width: 767px){
 .container-fart{

     text-align: center;
     width: 120px;
     height: 10px;
     padding: 10 10 10 10;
     margin: auto;
     transition:0.5s;
 }
}

a:link, a:visited,  a:hover, a:active{
 color: #f0e8dd;
 text-decoration: none;
 font-family: Arial, sans-serif;
 margin: auto;
 font-size: 14px;
}

.button{
 width: inherit;
 height: inherit;
 background-color: #8B969A;
 text-align: center;
 vertical-align: middle;
 line-height: 60px;
 border-radius: 40px;
 margin: auto;
 transition: 0.5s;
}

.button:hover{
 background-color:#688190;
 transform: scale(1.1);
 -webkit-transform: scale(1.1);
 -ms-transform: scale(1.1);
}

.container{
 text-align: center;
 width: 200px;
 height: 60px;
 padding: 10 10 10 10;
 margin: auto;
 transition:0.5s;
}

@media screen and (max-width: 1024px){
 .container{
     text-align: center;
     width: 175px;
     height: 60px;
     padding: 10 10 10 10;
     margin: auto;
     transition:0.5s;
 }
}

@media screen and (max-width: 767px){
 .container{
     text-align: center;
     width: 150px;
     height: 60px;
     padding: 10 10 10 10;
     margin: auto;
     transition:0.5s;
 }
}


/* animation */

@-webkit-keyframes fadeInUp {
 from {
   opacity: 0;
   -webkit-transform: translate3d(0, 100%, 0);
   transform: translate3d(0, 100%, 0);
 }

 to {
   opacity: 1;
   -webkit-transform: none;
   transform: none;
 }
}
@keyframes fadeInUp {
 from {
   opacity: 0;
   -webkit-transform: translate3d(0, 100%, 0);
   transform: translate3d(0, 100%, 0);
 }

 to {
   opacity: 1;
   -webkit-transform: none;
   transform: none;
 }
}

@-webkit-keyframes animatetop {
 from {top:-300px; opacity:0} 
 to {top:0; opacity:1}
}

@keyframes animatetop {
 from {top:-300px; opacity:0}
 to {top:0; opacity:1}
}